.header {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navigation a:hover {
  color: red;
  text-decoration: underline;
}